In [1]:
#using Pkg
#Pkg.add("DataFrames")
#Pkg.add("CSV")
#Pkg.add("Statistics")
#or StatsBase.jl:
using DataFrames, CSV, Statistics
dataset = CSV.read("datamerged2.csv", DataFrame)
typeof(dataset)

DataFrame

In [2]:
describe(dataset)

9×7 DataFrame
 Row │ variable   mean        min   median   max    nmissing  eltype
     │ Symbol     Float64     Real  Float64  Real   Int64     DataType
─────┼─────────────────────────────────────────────────────────────────
   1 │ id         136.852      1      133.0  276           0  Int64
   2 │ treatment    2.42475    1        3.0    4           0  Int64
   3 │ tofrom     144.308      6      145.0  288           0  Int64
   4 │ value       18.7922     0.0     20.0   49.0         0  Float64
   5 │ role         0.0        0        0.0    0           0  Int64
   6 │ resp         0.81462    0        1.0    1           0  Int64
   7 │ round        1.60774    1        2.0    3           0  Int64
   8 │ rounds       2.215      2        2.0    3           0  Int64
   9 │ old          0.701386   0        1.0    2           0  Int64

In [3]:
subset = groupby(dataset, :id)

GroupedDataFrame with 144 groups based on key: id
First Group (16 rows): id = 1
 Row │ id     treatment  tofrom  value    role   resp   round  rounds  old
     │ Int64  Int64      Int64   Float64  Int64  Int64  Int64  Int64   Int64
─────┼───────────────────────────────────────────────────────────────────────
   1 │     1          1       6     20.0      0      1      1       2      0
   2 │     1          1       9     20.0      0      0      1       2      0
   3 │     1          1      10     20.0      0      1      1       2      0
   4 │     1          1      11     20.0      0      1      1       2      0
   5 │     1          1      13     20.0      0      1      1       2      0
   6 │     1          1      14     20.0      0      1      1       2      0
   7 │     1          1      16     20.0      0      1      1       2      0
   8 │     1          1      17     20.0      0      1      1       2      0
   9 │     1          1      18     20.0      0      1      2       2      0
  10 │     1          1      19     20.0      0      1      2       2      0
  11 │     1          1      23     20.0      0      1      2       2      0
  12 │     1          1      26     20.0      0      1      2       2      0
  13 │     1          1      27     20.0      0      1      2       2      0
  14 │     1          1      28     20.0      0      1      2       2      0
  15 │     1          1      31     20.0      0      1      2       2      0
  16 │     1          1      32     20.0      0      1      2       2      0
⋮
Last Group (14 rows): id = 276
 Row │ id     treatment  tofrom  value    role   resp   round  rounds  old
     │ Int64  Int64      Int64   Float64  Int64  Int64  Int64  Int64   Int64
─────┼───────────────────────────────────────────────────────────────────────
   1 │   276          4     282      8.0      0      0      1       2      2
   2 │   276          4     283      8.0      0      1      1       2      2
   3 │   276          4     284      8.0      0      1      1       2      2
   4 │   276          4     286      8.0      0      1      1       2      2
   5 │   276          4     287     10.0      0      1      1       2      2
   6 │   276          4     288      8.0      0      0      1       2      2
   7 │   276          4     285      8.0      0      0      1       2      2
   8 │   276          4     275     15.0      0      1      2       2      2
   9 │   276          4     276     17.0      0      1      2       2      2
  10 │   276          4     277     15.0      0      1      2       2      2
  11 │   276          4     278     15.0      0      1      2       2      2
  12 │   276          4     279     15.0      0      1      2       2      2
  13 │   276          4     280     15.0      0      1      2       2      2
  14 │   276          4     281     15.0      0      1      2       2      2

In [5]:
offers = combine(subset, :value => mean)

144×2 DataFrame
 Row │ id     value_mean
     │ Int64  Float64
─────┼───────────────────
   1 │     1    20.0
   2 │     2    18.0375
   3 │     3    25.5
   4 │     4    13.7875
   5 │     5    14.0
   6 │     7    17.9
   7 │     8     9.0
   8 │    12    17.3125
   9 │    15    17.1313
  10 │    20    25.8125
  11 │    21    15.0
  ⋮  │   ⋮        ⋮
 135 │   267    13.5714
 136 │   268    13.5714
 137 │   269    10.0
 138 │   270    18.5714
 139 │   271    27.1429
 140 │   272    12.8571
 141 │   273     8.57143
 142 │   274    15.0
 143 │   275    20.0
 144 │   276    11.7857
         123 rows omitted

In [11]:
r0 = filter( row -> row.resp ==1, dataset)

1705×9 DataFrame
  Row │ id     treatment  tofrom  value    role   resp   round  rounds  old
      │ Int64  Int64      Int64   Float64  Int64  Int64  Int64  Int64   Int64
──────┼───────────────────────────────────────────────────────────────────────
    1 │     1          1       6     20.0      0      1      1       2      0
    2 │     1          1      10     20.0      0      1      1       2      0
    3 │     1          1      11     20.0      0      1      1       2      0
    4 │     1          1      13     20.0      0      1      1       2      0
    5 │     1          1      14     20.0      0      1      1       2      0
    6 │     1          1      16     20.0      0      1      1       2      0
    7 │     1          1      17     20.0      0      1      1       2      0
    8 │     1          1      18     20.0      0      1      2       2      0
    9 │     1          1      19     20.0      0      1      2       2      0
   10 │     1          1      23     20.0      0      1      2       2      0
   11 │     1          1      26     20.0      0      1      2       2      0
  ⋮   │   ⋮        ⋮        ⋮        ⋮       ⋮      ⋮      ⋮      ⋮       ⋮
 1696 │   270          4     279     20.0      0      1      2       2      2
 1697 │   270          4     280     20.0      0      1      2       2      2
 1698 │   270          4     281     15.0      0      1      2       2      2
 1699 │   271          4     275     25.0      0      1      2       2      2
 1700 │   271          4     276     30.0      0      1      2       2      2
 1701 │   271          4     277     25.0      0      1      2       2      2
 1702 │   271          4     278     30.0      0      1      2       2      2
 1703 │   271          4     279     25.0      0      1      2       2      2
 1704 │   271          4     280     30.0      0      1      2       2      2
 1705 │   271          4     281     25.0      0      1      2       2      2
                                                             1684 rows omitted

In [12]:
r = groupby(r0, :tofrom)

GroupedDataFrame with 144 groups based on key: tofrom
First Group (12 rows): tofrom = 6
 Row │ id     treatment  tofrom  value    role   resp   round  rounds  old
     │ Int64  Int64      Int64   Float64  Int64  Int64  Int64  Int64   Int64
─────┼───────────────────────────────────────────────────────────────────────
   1 │     1          1       6     20.0      0      1      1       2      0
   2 │     2          1       6     20.0      0      1      1       2      0
   3 │     3          1       6     30.1      0      1      1       2      0
   4 │     4          1       6     12.2      0      1      1       2      0
   5 │     7          1       6     17.7      0      1      1       2      0
   6 │    12          1       6     25.5      0      1      1       2      0
   7 │    15          1       6     15.0      0      1      2       2      0
   8 │    20          1       6     20.7      0      1      2       2      0
   9 │    21          1       6     15.0      0      1      2       2      0
  10 │    25          1       6     20.0      0      1      2       2      0
  11 │    29          1       6     15.0      0      1      2       2      0
  12 │    30          1       6     20.0      0      1      2       2      0
⋮
Last Group (10 rows): tofrom = 288
 Row │ id     treatment  tofrom  value    role   resp   round  rounds  old
     │ Int64  Int64      Int64   Float64  Int64  Int64  Int64  Int64   Int64
─────┼───────────────────────────────────────────────────────────────────────
   1 │   272          4     288     10.0      0      1      1       2      2
   2 │   274          4     288     15.0      0      1      1       2      2
   3 │   275          4     288     20.0      0      1      1       2      2
   4 │   270          4     288     20.0      0      1      1       2      2
   5 │   271          4     288     30.0      0      1      1       2      2
   6 │   263          4     288     15.0      0      1      2       2      2
   7 │   264          4     288     23.0      0      1      2       2      2
   8 │   265          4     288     10.0      0      1      2       2      2
   9 │   266          4     288     10.0      0      1      2       2      2
  10 │   268          4     288     15.0      0      1      2       2      2

GroupedDataFrame with 0 groups based on key: tofrom